.parrafoConocenos{
  text-align: justify;
  font-size: 1.8em;
  margin-left: 15%;
  margin-right: 15%;
}
.aEnviar{
  text-align: center;
  margin-left: 50%;
}
#rouSiguiente{
  background-color: #d0dce3;
}
.parrafoFacturaOne{
  font-size: 2em;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;

}
#descripcionBeneficio{
    background-color: #d0dce3;
    margin-left: 20%;
    margin-right: 20%;
}
.itemDescripcionBeneficio{
  margin-top: 1%;
  height:  350px;
  display:none;
  margin-bottom: 1%;
  align-items: center;
  justify-content: left;
}
.imagenBeneficio{
  max-width: 180px;
display: flex;
height: 350px;
flex-grow: 1;
align-items: center;
justify-content: center;
}
.textoBeneficio{
  text-align: justify;
  flex-grow: 4;
  max-width: 950px;
  margin-left: 2%;
  margin-right: 2%;
}
.indicadorBeneficio{
  background: rgba(255,255,255,.45);
}
.tituloBeneficio{
  font-size: 1.7em;
}
.beneficio1{background-color: rgba(0,22.4,40.8,.45);}
.beneficio2{background-color: rgba(3.1,31.0,43.9,.45);}
.beneficio3{background-color: rgba(51.4,75.3,100,.45);}
.beneficio4{  background-color: rgba(100,71,0.0,.45);}
.beneficio5{background-color: rgba(51,62.4,69.4,.45);}
h3.tituloBeneficio{  margin-left: 0;}
p.parrafoBeneficio{  font-size: 1.4em;}
.listaFacturaOne{  font-size: 1.5em;}
#izquierdaCosto{
  flex-grow: 5;
  width: 800px;
}
#noCobramos{
  margin-right: 0;
}
#derecha{
  flex-grow: 1;
}
