@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  position: relative; }
  body * {
    box-sizing: border-box; }

#norte {
  position: relative; }
  #norte header {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px; }
    #norte header a {
      padding: 16px 0; }
      @media (min-width: 1000px) {
        #norte header a {
          padding: 16px; } }
      #norte header a img {
        max-width: 150px;
        transition: all .5s ease; }
        @media (min-width: 1000px) {
          #norte header a img {
            max-width: 200px;
            transition: all .5s ease; } }
  #norte .imagenLogo:hover {
    opacity: 0.5; }
  #norte nav {
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 16px; }
    @media (min-width: 1000px) {
      #norte nav {
        flex: 1;
        justify-content: right;
        font-size: 18px;
        padding-bottom: 0; } }
    #norte nav > i {
      margin-left: 32px; }
      #norte nav > i:first-child {
        margin: 0; }
        @media (min-width: 1000px) {
          #norte nav > i:first-child {
            margin-left: 32px; } }
  #norte .sub-header {
    background: #7DA5B7;
    justify-content: center;
    display: flex;
    color: #fff;
    flex-wrap: wrap; }
    #norte .sub-header .responsive-menu {
      font-size: 32px;
      padding: 16px;
      position: relative;
      cursor: pointer;
      width: 62px;
      height: 62px; }
      @media (min-width: 1000px) {
        #norte .sub-header .responsive-menu {
          display: none; } }
      #norte .sub-header .responsive-menu i {
        position: absolute;
        left: 16px;
        top: 16px;
        transition: all .3s ease;
        opacity: 1; }
        #norte .sub-header .responsive-menu i.fa-times {
          left: 19px;
          opacity: 0; }
      #norte .sub-header .responsive-menu.active i {
        transform: rotate(180deg); }
        #norte .sub-header .responsive-menu.active i.fa-times {
          opacity: 1; }
        #norte .sub-header .responsive-menu.active i.fa-bars {
          opacity: 0; }
    #norte .sub-header .navigation {
      display: none;
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 16px 0; }
      @media (min-width: 1000px) {
        #norte .sub-header .navigation {
          display: block;
          margin: 0; }
          #norte .sub-header .navigation > li {
            display: inline-block; }
            #norte .sub-header .navigation > li a {
              padding: 24px; }
              #norte .sub-header .navigation > li a.active, #norte .sub-header .navigation > li a:hover, #norte .sub-header .navigation > li a:active {
                background-color: #003968; } }
      #norte .sub-header .navigation a {
        padding: 8px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: all .8s ease; }
        #norte .sub-header .navigation a > i {
          margin: 0 8px 0 0; }

/* */
#sur {
  background-color: #003968;
  color: #fff;
  text-align: center;
  font-size: 14px; }
  #sur footer {
    padding: 32px 0 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; }
    #sur footer .footer-container {
      width: 100%; }
      @media (min-width: 1000px) {
        #sur footer .footer-container {
          width: 50%; } }
      #sur footer .footer-container .footer-block-contact {
        display: flex;
        justify-content: center;
        padding-right: 0;
        align-items: center; }
        @media (min-width: 1000px) {
          #sur footer .footer-container .footer-block-contact {
            justify-content: right;
            padding-right: 16px; } }
        #sur footer .footer-container .footer-block-contact .white-icon {
          background-color: #fff;
          font-size: 20px;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          text-align: center;
          color: #003968;
          padding: 7px;
          margin-right: 16px; }
          #sur footer .footer-container .footer-block-contact .white-icon + div {
            text-align: left; }
            #sur footer .footer-container .footer-block-contact .white-icon + div p {
              width: auto; }
              @media (min-width: 1000px) {
                #sur footer .footer-container .footer-block-contact .white-icon + div p {
                  width: 200px; } }
      #sur footer .footer-container .social-media {
        max-width: 200px;
        padding-left: 0;
        margin: 16px auto 0; }
        @media (min-width: 1000px) {
          #sur footer .footer-container .social-media {
            margin: 0;
            padding-left: 16px; } }
        #sur footer .footer-container .social-media p {
          padding: 16px;
          background-color: #fff;
          border-radius: 4px;
          margin: 0 0 24px;
          color: #003968; }
          #sur footer .footer-container .social-media p .fab {
            font-size: 24px;
            vertical-align: middle;
            margin-left: 16px;
            line-height: 21px; }
            #sur footer .footer-container .social-media p .fab.fa-youtube {
              margin-top: -6px; }
  #sur .legal-area {
    background-color: #000;
    padding: 16px; }
    #sur .legal-area a {
      margin: 0 16px;
      text-decoration: none;
      color: #fff; }
    #sur .legal-area .pieDePagina {
      display: inline-block;
      margin-top: 16px; }

.flex-horizontal-container {
  margin: 0 0 32px;
  display: flex;
  padding: 32px 16px;
  background-color: #D1DFE6;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-horizontal-container li {
    width: 100%;
    padding: 0 16px;
    max-width: 400px; }
    @media (min-width: 1000px) {
      .flex-horizontal-container li {
        width: 33.3333%; } }
    .flex-horizontal-container li.article {
      padding: 0 32px;
      display: flex;
      flex-flow: column;
      margin-bottom: 32px; }
      @media (min-width: 1000px) {
        .flex-horizontal-container li.article {
          margin-bottom: 0; } }
      .flex-horizontal-container li.article:last-child {
        margin-bottom: 0; }
      .flex-horizontal-container li.article > img {
        max-width: 100%; }
      .flex-horizontal-container li.article > .textoArticuloBlog {
        background-color: #fff;
        padding: 16px;
        text-align: left; }
    .flex-horizontal-container li img {
      max-width: 60%; }

.text-center {
  text-align: center;
  margin: 0 0 32px;
  padding: 0 32px; }
  .text-center ul,
  .text-center p {
    padding: 0;
    margin: 16px auto;
    max-width: 800px;
    text-align: justify; }

button.primary {
  text-align: center;
  background-color: #003968;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border: 0 none;
  cursor: pointer; }

.parrafoPromo {
  padding: 0; }
  .parrafoPromo > li {
    width: 100%;
    max-width: inherit; }

.custom-carrusel {
  position: relative;
  width: 100%;
  height: 100vw; }
  @media (min-width: 1000px) {
    .custom-carrusel {
      height: 30vw; } }
  .custom-carrusel > section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease; }
    .custom-carrusel > section.active {
      opacity: 1; }
    .custom-carrusel > section > a {
      display: block;
      width: 100%;
      height: 100%; }
      .custom-carrusel > section > a > img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .custom-carrusel > section > a > p {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 16px 32px;
        color: #fff;
        background-color: rgba(0, 57, 104, 0.75);
        font-size: 6vw;
        font-weight: bold;
        text-align: center; }
        @media (min-width: 1000px) {
          .custom-carrusel > section > a > p {
            font-size: 2vw; } }
        .custom-carrusel > section > a > p > span {
          background-color: #FFB500;
          display: inline-block;
          margin-top: 8px;
          margin-bottom: 8px;
          padding: 4px 8px; }

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }
  .accordion .fas {
    transition: all .3s ease; }
  .accordion:hover, .accordion.active {
    background-color: #ccc; }
  .accordion.active .fas {
    transform: rotate(180deg); }

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: none; }

img.imgcarousel {
  width: -webkit-fill-available; }

#contacto.text-center {
  text-align: center;
  background-color: #f4fbff; }

.form-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px 32px; }
  .form-contact input, .form-contact textarea {
    margin: 16px;
    text-align: center;
    padding: 8px;
    font-family: sans-serif;
    width: 50%; }
    .form-contact input placeholder, .form-contact textarea placeholder {
      color: #434F65; }

.aEnviar {
  padding: 0px 40px;
  background-color: #FFB500;
  font-weight: bold;
  color: #003968; }

section.static-banner {
  position: relative; }

.text-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 16px 32px;
  color: #fff;
  background-color: rgba(0, 57, 104, 0.75);
  font-size: 32px;
  font-weight: bold;
  text-align: center; }

.itemDescripcionBeneficio.flexHorizontalContainer {
  margin: 0 0 32px;
  padding: 0 32px;
  display: flex; }

.wrap-poli {
  padding: 32px;
  max-width: 1200px;
  margin: 0 auto; }
  .wrap-poli h3 {
    color: #014f6e; }
  .wrap-poli p {
    color: #292929; }

.titulo-poli {
  color: #014f6e;
  font-size: 36px; }

.poli-list {
  line-height: 32px; }

#sur .legal-area a {
  transition: all .5s ease; }
  #sur .legal-area a:hover {
    opacity: 0.5; }

.flex-jusntify-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .flex-jusntify-center .preguntaItem {
    text-align: center;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px; }
    @media (min-width: 1000px) {
      .flex-jusntify-center .preguntaItem {
        width: 50%; } }

.imgcarousel {
  width: 100%; }

.textBanner {
  font-size: 32px;
  text-align: center; }

.filosofia {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1800px;
  flex-wrap: wrap;
  padding: 32px 0;
  justify-content: center; }
  .filosofia > * {
    width: calc(100% - 32px);
    margin: 16px;
    padding: 32px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px; }
    @media (min-width: 1000px) {
      .filosofia > * {
        width: calc(33.3333% - 32px); } }

.mision_ind {
  background-color: rgba(8, 154, 190, 0.5); }

.vision-inde {
  background-color: rgba(1, 79, 110, 0.5); }

.valor-ind {
  background-color: rgba(8, 154, 190, 0.5); }

.linkPrincipal img {
  transition: all .5s ease; }
  .linkPrincipal img:hover {
    transform: scale(0.9); }

button.primary {
  transition: all .5s ease; }
  button.primary:hover {
    opacity: 0.5; }

.flexHorizontalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.flexHorizontalContainer article {
  width: 26%;
  text-align: center;
  margin: 25px;
  padding: 30px; }

.paquete, .paquete2, .paquete4 {
  background-color: #7da5b7;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.paquet1, .paquete3 {
  background-color: rgba(8, 154, 190, 0.5);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.textBanner {
  font-weight: bold;
  color: #003968; }

.leyendaPrecios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.listaPreciosSistema {
  width: 100%;
  text-align: center;
  padding: 0px 48px; }
  @media (min-width: 1000px) {
    .listaPreciosSistema {
      width: 50%; } }

.title_2, .title_1 {
  color: #003968; }

.seccion-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.section1, .section2 {
  width: 100%;
  text-align: center;
  padding: 0 32px; }
  @media (min-width: 1000px) {
    .section1, .section2 {
      width: 50%; } }

.price-1 {
  background-color: #7da5b7;
  padding: 30px;
  margin: 40px 0; }

.title-2 {
  text-align: center;
  margin-bottom: 36px; }

.h2section.NoPad {
  color: rgba(8, 154, 190, 0.5);
  font-size: 42px; }

.boxInoputs {
  padding: 20px 220px;
  margin: 32px 0;
  text-align: center; }
  .boxInoputs input,
  .boxInoputs textarea {
    width: calc(100% - 34px);
    padding: 8px 16px;
    font-weight: bold;
    margin: 0 16px 16px; }
    @media (min-width: 1000px) {
      .boxInoputs input,
      .boxInoputs textarea {
        width: calc(50% - 34px); }
        .boxInoputs input:first-child,
        .boxInoputs textarea:first-child {
          margin-bottom: 0; } }
  @media (min-width: 1000px) {
    .boxInoputs textarea {
      margin-top: 16px;
      width: 100%; } }

.link-enviar {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: rgba(8, 154, 190, 0.5);
  border: none;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  transition: all .5s ease; }
  .link-enviar:hover {
    opacity: 0.5; }

.static-banner {
  position: relative; }
  .static-banner .textBanner {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 0;
    padding: 16px;
    color: #fff;
    background-color: rgba(0, 57, 104, 0.75); }

.flex-img-center {
  text-align: center;
  padding: 0 16px; }
  .flex-img-center h2 {
    margin: 0 0 32px; }
  .flex-img-center .flex-horizontal-icons {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto 32px; }

a {
  color: #003968;
  text-decoration: none; }

/*# sourceMappingURL=index.css.map */
