.imgcarousel {
	width: 100%;
}

.textBanner {
	font-size: 32px;
	text-align: center;
}

.filosofia {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 1800px;
	flex-wrap: wrap;
	padding: 32px 0;

	> * {
		width: calc(100% - 32px);
		margin: 16px;
		padding: 32px;
		text-align: center;
		box-shadow: $shadow;
		border-radius: 8px;

		@media (min-width: 1000px) {
			width: calc(33.3333% - 32px);
		}
	}
}

.mision_ind {
  background-color: $color_pacific_blue_50_approx;
}

.vision-inde {
  background-color: $color_regal_blue_50_approx;
}

.valor-ind {
	background-color: $color_pacific_blue_50_approx;
}
.linkPrincipal img {
	transition: all .5s ease;
	&:hover {
		transform: scale(0.9);
	}
}

button.primary {
	transition: all .5s ease;
	&:hover {
		opacity: 0.5;
	}
}
