img.imgcarousel {
    width: -webkit-fill-available;
}
#contacto.text-center {
  text-align: center;
  background-color: #f4fbff;
}
.form-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px 32px;

    input:not([type="button"]),
    textarea {
      margin: 16px;
      text-align: center;
      padding: 8px;
      font-family: sans-serif;
      width: 50%;

      placeholder {
        color: #434F65;
      }
    }
}
.aEnviar {
  padding: 0px 40px;
  background-color: #FFB500;
  font-weight: bold;
  color: #003968;
  padding: 16px 32px;
  border: 0 none;
}

section.static-banner {
  position: relative;
}

.text-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 16px 32px;
    color: #fff;
    background-color: rgba(0, 57, 104, 0.75);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
