img.imgcarousel {
    width: -webkit-fill-available;
}
#contacto.text-center {
  text-align: center;
  background-color: #f4fbff;
}
.form-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px 32px;

    input, textarea {
      margin: 16px;
      text-align: center;
      padding: 8px;
      font-family: sans-serif;
      width: 50%;

      placeholder {
        color: #434F65;
      }
    }
}
.aEnviar {
  padding: 0px 40px;
  background-color: #FFB500;
  font-weight: bold;
  color: #003968;
}
