.static-banner {
  position: relative;

  .textBanner {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 0;
    padding: 16px;
    color: #fff;
    background-color: rgba($primary-dark, .75);
  }
}

.flex-img-center {
  text-align: center;
  padding: 0 32px;

  h2 {
    margin: 0 0 32px;
  }

  .flex-horizontal-icons {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto 32px;
  }
}

#descripcionBeneficio {
  padding: 32px 0;

  > section {
    display: flex;
    max-width: 800px;
    margin: 0 auto 32px;
  }
}
