.static-banner {
  position: relative;

  .textBanner {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 0;
    padding: 16px;
    color: #fff;
    background-color: rgba($primary-dark, .75);
  }
}

.flex-img-center {
  text-align: center;
  padding: 0 16px;

  h2 {
    margin: 0 0 32px;
  }
}
