#sur {
  background-color: $primary-dark;
  color: #fff;
  text-align: center;
  font-size: 14px;

  footer {
    padding: 32px 0 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;

    .footer-container {
      width: 100%;

      @media (min-width: 1000px) {
        width: 50%;
      }

      .footer-block-contact {
        display: flex;
        justify-content: center;
        padding-right: 0;
        align-items: center;

        @media (min-width: 1000px) {
          justify-content: right;
          padding-right: 16px;
        }

        .white-icon {
          background-color: #fff;
          font-size: 20px;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          text-align: center;
          color: $primary-dark;
          padding: 7px;
          margin-right: 16px;

          & + div {
            text-align: left;

            p {
              width: 200px;
            }
          }
        }
      }

      .social-media {
        max-width: 200px;
        padding-left: 0;
        margin: 16px auto 0;

        @media (min-width: 1000px) {
          margin: 0;
          padding-left: 16px;
        }

        p {
          padding: 16px;
          background-color: #fff;
          border-radius: 4px;
          margin: 0 0 24px;
          color: $primary-dark;

          .fab {
            font-size: 24px;
            vertical-align: middle;
            margin-left: 16px;
            line-height: 21px;

            &.fa-youtube {
              margin-top: -6px;
            }
          }
        }
      }
    }
  }

  .legal-area {
    background-color: #000;
    padding: 16px;

    a {
      margin: 0 16px;
      text-decoration: none;
      color: #fff;
    }

    .pieDePagina {
      display: inline-block;
      margin-top: 16px;
    }
  }
}
