#norte {
    position: relative;

    header {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;

     a {
       padding: 16px 0;

       @media (min-width: 1000px) {
         padding: 16px;
       }

       img {
         max-width: 150px;
        transition: all .5s ease;
         @media (min-width: 1000px) {
           max-width: 200px;
            transition: all .5s ease;
         }
       }
     }
   }
    .imagenLogo:hover {
	       opacity: 0.5;
         }
   nav {
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 16px;

    @media (min-width: 1000px) {
      flex: 1;
      justify-content: right;
      font-size: 18px;
      padding-bottom: 0;
    }

    > i {
      margin-left: 32px;

      &:first-child {
        margin: 0;

        @media (min-width: 1000px) {
          margin-left: 32px;
        }
      }
    }
  }

  .sub-header {
    background: #7DA5B7;
    justify-content: center;
    display: flex;
    color: #fff;
    flex-wrap: wrap;

    .responsive-menu {
      font-size: 32px;
      padding: 16px;
      position: relative;
      cursor: pointer;
      width: 62px;
      height: 62px;

      @media (min-width: 1000px) {
        display: none;
      }

      i {
        position: absolute;
        left: 16px;
        top: 16px;
        transition: all .3s ease;
        opacity: 1;

        &.fa-times {
          left: 19px;
          opacity: 0;
        }
      }

      &.active {
        i {
          transform: rotate(180deg);

          &.fa-times {
            opacity: 1;
          }

          &.fa-bars {
            opacity: 0;
          }
        }
      }
    }

    .navigation {
      display: none;
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 16px 0;

      @media (min-width: 1000px) {
        display: block;
        margin: 0;

        > li {
          display: inline-block;

          a {
            padding: 24px;

            &.active,
            &:hover,
            &:active {
              background-color: $primary-dark;
            }
          }
        }
      }

      a {
        padding: 8px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: all .8s ease;
        > i {
          margin: 0 8px 0 0;
        }
      }
    }
  }
}

/* */
