#norte {
    position: relative;

    header {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;

     a {
       padding: 16px;

       img {
         max-width: 200px;
       }
     }
   }

   nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 18px;

    > i {
      margin-left: 32px;
    }
  }

  .sub-header {
    background: #7DA5B7;
    justify-content: center;
    display: flex;
    color: #fff;

    .responsive-menu {
      font-size: 32px;
      padding: 16px;
      position: relative;
      cursor: pointer;
      width: 62px;
      height: 62px;

      @media (min-width: 1000px) {
        display: none;
      }

      i {
        position: absolute;
        left: 16px;
        top: 16px;

        &.fa-times {
          left: 19px;
          display: none;
        }
      }
    }

    .navigation {
      display: none;

      @media (min-width: 1000px) {
        display: block;
      }
    }
  }
}

/* */
