#norte {
    position: relative;

    header {
      display: flex;
      flex-wrap: nowrap;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 32px;

       a {
         padding: 16px;

         img {
           max-width: 200px;
         }
       }
   }

   nav {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: right;
      font-size: 18px;

      > i {
        margin-left: 32px;
      }
    }
}
