.flex-horizontal-container {
  margin: 0 0 32px;
  display: flex;
  padding: 32px 16px;
  background-color: $primary-ligth;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;

  li {
    width: 100%;
    padding: 0 16px;
    max-width: 400px;

    @media (min-width: 1000px) {
      width: 33.3333%;
    }

    &.article {
      padding: 0 32px;
      display: flex;
      flex-flow: column;
      margin-bottom: 32px;

      @media (min-width: 1000px) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      > img {
        max-width: 100%;
      }

      > .textoArticuloBlog {
          background-color: #fff;
          padding: 16px;
          text-align: left;
      }
    }

    img {
      max-width: 60%;
    }
  }
}

.text-center {
  text-align: center;
  margin: 0 0 32px;
  padding: 0 32px;

  ul,
  p {
    padding: 0;
    margin: 16px auto;
    max-width: 800px;
    text-align: justify;
  }
}

button.primary {
  text-align: center;
  background-color: $primary-dark;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border: 0 none;
  cursor: pointer;
}

.parrafoPromo {
  padding: 0;

  > li {
    width: 100%;
    max-width: inherit;
  }
}

.custom-carrusel {
  position: relative;
  width: 100%;
  height: 100vw;

  @media (min-width: 1000px) {
    height: 30vw;
  }

  > section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease;

    &.active {
      opacity: 1;
    }

    > a {
      display: block;
      width: 100%;
      height: 100%;

      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      > p {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 16px 32px;
        color: #fff;
        background-color: rgba($primary-dark, .75);
        font-size: 6vw;
        font-weight: bold;
        text-align: center;

        @media (min-width: 1000px) {
          font-size: 2vw;
        }

        > span {
          background-color: #FFB500;
          display: inline-block;
          margin-top: 8px;
          margin-bottom: 8px;
          padding: 4px 8px;
        }
      }
    }
  }
}
