.flex-horizontal-container {
  margin: 0 0 32px;
  display: flex;
  padding: 32px 16px;
  background-color: $primary-ligth;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;

  li {
    width: 100%;
    padding: 0 16px;
    max-width: 400px;

    @media (min-width: 1000px) {
      width: 33.3333%;
    }

    &.article {
      padding: 0 32px;
    }

    img {
      max-width: 60%;
    }
  }
}

.text-center {
  text-align: center;
  margin: 0 0 32px;

  ul,
  p {
    padding: 0;
    margin: 16px auto;
    max-width: 800px;
    text-align: justify;
  }
}

button.primary {
  text-align: center;
  background-color: $primary-dark;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border: 0 none;
  cursor: pointer;
}

.parrafoPromo {
  padding: 0;

  > li {
    width: 100%;
    max-width: inherit;
  }
}

.custom-carrusel {
  position: relative;
  width: 100%;
  height: 60vw;
  margin-bottom: 32px;

  @media (min-width: 1000px) {
    height: 30vw;
  }

  > section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > a {
      display: block;
      width: 100%;
      height: 100%;

      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
