.wrap-poli {
    padding: 36px 76px;
    width: 920px;
}
.titulo-poli {
    color: #014f6e;
    font-size: 36px;
}
.wrap-poli h3 {
    color: #014f6e;
}
.wrap-poli p {
    color: #292929;
}
.poli-list {
    line-height: 32px;
}

@media (min-width:320px) {
  
}
