.wrap-poli {
	padding: 36px 76px;
	width: 920px;
	h3 {
		color: $color_regal_blue_approx;
	}
	p {
		color: $color_shark_approx;
	}
}
.titulo-poli {
	color: $color_regal_blue_approx;
	font-size: 36px;
}
.poli-list {
	line-height: 32px;
}

#sur .legal-area a {
	transition: all .5s ease;
	&:hover {
		opacity: 0.5;
	}
}