//colors
$color_regal_blue_approx: #014f6e;
$color_shark_approx: #292929;

.wrap-poli {
	padding: 36px 76px;
	width: 920px;
	h3 {
		color: $color_regal_blue_approx;
	}
	p {
		color: $color_shark_approx;
	}
}
.titulo-poli {
	color: $color_regal_blue_approx;
	font-size: 36px;
}
.poli-list {
	line-height: 32px;
}
@media(min-width:320px) {
}