.flexHorizontalContainer {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;

	&.custom-size {
    max-width: 800px;
    margin: 0 auto;

		> div:first-child {
			width: 100%;
			padding: 16px;
			text-align: left;

			@media (min-width: 1000px) {
				flex: 1;
				padding: 32px 16px;
			}
		}

		> div:last-child {
			width: 100%;
			text-align: center;
			padding: 16px;

			@media (min-width: 1000px) {
				max-width: 225px;
				width: 30%;
				padding: 32px 16px;
			}

			img {
				width: 100%;
				max-width: 150px;
			}

			p {
		    text-align: center;
			}
		}

		+ h3 {
	    margin: 0;
	    padding-bottom: 32px;
		}
	}

	article {
		width: 26%;
		text-align: center;
		margin: 25px;
		padding: 30px;
	}
}

.paquete, .paquete2, .paquete4   {
	background-color: $color_bali_hai_approx;
	border-radius: 8px;
    box-shadow: $shadow;
}

.paquet1, .paquete3 {
    background-color: $color_pacific_blue_50_approx;
	border-radius: 8px;
    box-shadow: $shadow;
}


.textBanner {
	font-weight: bold;
    color: $color-title;
}

.leyendaPrecios {
    display: flex;
    flex-direction: row;
    justify-content: center;
		flex-wrap: wrap;
}

.listaPreciosSistema {
  width: 100%;
  text-align: center;
  padding: 0px 48px;

	@media (min-width: 1000px) {
		width: 50%;
	}
}
.title_2, .title_1 {
    color: $color-title;
}

.seccion-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
		flex-wrap: wrap;
}

.section1, .section2 {
    width: 100%;
    text-align: center;
    padding: 0 32px;

		@media (min-width: 1000px) {
			width: 50%;
		}
}

.price-1 {
    background-color: $color_bali_hai_approx;
    padding: 30px;
    margin: 40px 0;
}

.title-2 {
    text-align: center;
    margin-bottom: 36px;
}

.h2section.NoPad {
    color:  $color_pacific_blue_50_approx;
    font-size: 42px;
}

.boxInoputs {
    padding: 20px 220px;
    margin: 32px 0;
		text-align: center;

		input:not([type="button"]),
		textarea {
			width: calc(100% - 34px);
			padding: 8px 16px;
			font-weight: bold;
			margin: 0 16px 16px;

			@media (min-width: 1000px) {
				width: calc(50% - 34px);

				&:first-child {
					margin-bottom: 0;
				}
			}
		}

		textarea {
			@media (min-width: 1000px) {
				margin-top: 16px;
				width: 100%;
			}
		}
}

.link-enviar {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: rgba(8, 154, 190, 0.5);
    border: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    transition: all .5s ease;
    &:hover {
		opacity: 0.5;
	}
}
