.flexHorizontalContainer {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.flexHorizontalContainer article {
	width: 26%;
	text-align: center;
	margin: 25px;
	padding: 30px;
}

.paquete, .paquete2, .paquete4   {
	background-color: $color_bali_hai_approx;
	border-radius: 8px;
    box-shadow: $shadow;
}

.paquet1, .paquete3 {
    background-color: $color_pacific_blue_50_approx;
	border-radius: 8px;
    box-shadow: $shadow;
}


.textBanner {
	font-weight: bold;
    color: $color-title;
}

.leyendaPrecios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaPreciosSistema {
    width: 50%;
    text-align: center;
        padding: 0px 48px;
}
.title_2, .title_1 {
    color: $color-title;
}

.seccion-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section1, .section2 {
    width: 50%;
    text-align: center;
    margin: 0 30px;
}

.price-1 {
    background-color: $color_bali_hai_approx;
    height: 220px;
    padding: 30px;
    margin: 40px 0;
}

.title-2 {
    text-align: center;
    margin-bottom: 36px;
}

.h2section.NoPad {
    color:  $color_pacific_blue_50_approx;
    font-size: 42px;
}

.boxInoputs {
    padding: 20px 220px;
    margin: 32px 0;
}
.input1 {

    width: 45%;
    margin-right: 12px;
    height: 40px;
}
.input2 {

    width: 53%;
    height: 40px;

}
.input.area {

    width: 100%;
    margin: 24px 0px;

}