$primary: #7DA5B7;
$primary-dark: #003968;
$color_regal_blue_approx: #014f6e;
$color_shark_approx: #292929;
$color_pacific_blue_50_approx: rgba(8, 154, 190, 0.5);
$color_regal_blue_50_approx: rgba(1, 79, 110, 0.5);
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
$primary-ligth: #D1DFE6;
