$primary: #7DA5B7;
$primary-dark: #003968;
<<<<<<< HEAD
<<<<<<< HEAD
$color_regal_blue_approx: #014f6e;
$color_shark_approx: #292929;

=======
$primary-ligth: #D1DFE6;
>>>>>>> 88a6a3e00c35359c8e6bf1601017247301f7e91e
=======
$primary-ligth: #D1DFE6;
>>>>>>> 88a6a3e00c35359c8e6bf1601017247301f7e91e
