@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  position: relative;

  * {
    box-sizing: border-box;
  }
}

@import "vars";
@import "header";
@import "footer";
@import "home";
@import "terms";
@import "contacto";
@import "fone";
@import "info";
@import "politicas";
@import "conocenos";
@import "_precios";
@import "factura";

a {
  color: $primary-dark;
  text-decoration: none;
}
