<header  id="rouguan" class="">
  <a href="index.html">
    <img src="img/cerologo.png" alt="" class="imagenLogo">
  </a>
  <nav id="rsContainer" class=" ">
    <i class="fas fa-phone-square iconoRedes"></i>+52 (33) 3632 6950
    <i class="fab fa-facebook-square iconoRedes"></i>
    <i class="fab fa-youtube iconoRedes"></i>
  </nav>
</header>
<section  id="routu" class="sub-header">
  <span id="menu" class="responsive-menu">
    <i class="fas fa-bars"></i>
  </span>
  <ul id="menuBar" class="navigation" >
    <li><a href="index.html" class="anav"> <i class="fa fa-home"></i>Inicio</a></li>
    <li><a href="conocenos.html" class="anav">Conócenos</a></li>
    <li><a href="precios.html" class="anav" >Precios</a></li>
    <li><a href="facturaone.html" class="anav">Factura One</a></li>
    <li><a href="contacto.html" class="anav">Información</a></li>
    <li><a href="blog.html" class="anav">Blog</a></li>
  </ul>
</section>
<script>
var menu = document.querySelector('#menu');
var main = document.querySelector('#norte');
var drawer = document.querySelector('.nav');
menu.addEventListener('click', function(e) {
        drawer.classList.toggle('abrir');
        e.stopPropagation();
      });
      main.addEventListener('click', function() {
        drawer.classList.remove('abrir');
      });
</script>
