<footer>
    <section class="footer-container">
      <section class="footer-block-contact white-circles">
        <div class="white-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <div>
          <p>Escríbenos <br>
          soporte@ceromm.com.mx </p>
        </div>
      </section>
      <section id="correo" class="footer-block-contact white-circles">
        <div class="white-icon">
          <i class="fas fa-phone"></i>
        </div>
        <div>
          <p>Contáctanos <br>
          +521 (33) 3632 6950</p>
        </div>
      </section>
    </section>
    <section class="footer-container">
      <div class="social-media">
        <p><span>Búscanos en</span><i class="fab fa-facebook-square"></i></p>
        <p><span>Suscríbete</span><i class="fab fa-youtube"></i></p>
      </div>
    </section>
</footer>
<section id="rouEit" class="legal-area">
  <a href="terminos.html">Términos y Condiciones</a>
  <a href="politicas.html">Aviso de Privacidad</a><br>
  <span class="pieDePagina">Todos los Derechos Reservados Cero Más Más © 2018</span>
</section>
