<footer>
    <section class="footer-container">
      <section class="footer-block-contact white-circles">
        <div class="white-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <div>
          <p>Escríbenos <br>
          soporte@ceromm.com.mx </p>
        </div>
      </section>
      <section id="correo" class="footer-block-contact white-circles">
        <div class="white-icon">
          <i class="fas fa-phone"></i>
        </div>
        <div>
          <p>Contáctanos <br>
          +521 (33) 3632 6950</p>
        </div>
      </section>
    </section>
    <section class="footer-container">
      <p>Búscanos en <i class="fab fa-facebook-square iconoRedes"></i></p>
      <p class="suscribete">Suscríbete <i class="fab fa-youtube"></i></p>
    </section>
    <section id="rouEit" class="flexHorizontalContainer">
     <span class="pieDePagina">Todos los Derechos Reservados Cero Más Más © 2018</span>
    <a href="terminos.html"><span class="pieDePagina"> Términos y Condiciones</span></a>
     <a href="politicas.html"><span class="pieDePagina"> Aviso de Privacidad </span></a>
    </section>
</footer>
