<section id="rouCben" class="">
    <section id="renglonUno" class="">
      <section id="correo" class="bloqueContactoSur">
        <span class="sirCulito sirCulito3"></span>
        <p class="escribenos"> Escríbenos </p>
        <p class="soporte"> soporte@ceromm.com.mx </p>
      </section>
      <section id="facebook" class="bloqueContactoSur">
        <div class="faceDiv">
           <p>Búscanos en <i class="fab fa-facebook-square iconoRedes"></i></p>
        </div>
      </section>
    </section>
    <section id="renglonDos" class="">
      <section id="telefono" class="bloqueContactoSur">
        <span class="sirCulito sirCulito3">   </span>
          <p class="llamanos">Contáctanos </p>
          <p class="alTel"> +521 (33) 3632 6950</p>
      </section>
      <section id="youtube" class="bloqueContactoSur">
        <p class="suscribete">Suscríbete</p>
        <div class="">  </div>
      </section>
    </section>
</section>
<section id="rouEit" class="flexHorizontalContainer">
 <span class="pieDePagina">Todos los Derechos Reservados Cero Más Más © 2018</span>
<a href="terminos.html"><span class="pieDePagina"> Términos y Condiciones</span></a>
 <a href="politicas.html"><span class="pieDePagina"> Aviso de Privacidad </span></a>
</section>
